.principal__main-fondo{
    background: url(../../assets/img/fondohome.png);
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.principal__up-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
}
.principal__text-header{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
}
.principal__main-title{
    color: #ffffff;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 1rem;
}
.principal__paragraph{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 2rem;
}
.principal__compu-img{
    width: 600px;
}

.principal__down-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}

.principal__contact-us{
    width: 183px;
    height: 51px;
    border-radius: 27px;
    background: linear-gradient(180deg, #B57BD7 0%, #592F71 100%);
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

.principal__texts{
    margin-bottom: 100px;
}

.principal__compu-img-mobile{
    display: none;
}

.principal__contact-us:hover{
    background: linear-gradient(180deg, #B57BD7 0%, #884eaa 100%);
}


@media (min-width: 1025px) and (max-width: 1440px){
    .principal__compu-img {
        width: 600px !important;
    }
}


@media (min-width: 769px) and (max-width: 1024px){
    .principal__down-container{
        flex-direction: column-reverse;
    }
    .principal__up-container{
        flex-direction: column;
    }
    .principal__texts{
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
}


@media (min-width: 426px) and (max-width: 768px){
    .principal__text-header {
        text-align: center;
        font-size: 1rem;
        margin-top: 1rem;
    }
    .principal__up-container{
        flex-direction: column;
    }
    .principal__texts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .principal__compu-img-mobile {
        display: block;
        width: 420px !important;
    }
    .principal__texts {
        font-size: 1rem;
        margin-bottom: 0;
    }
    .principal__main-title {
        font-size: 40px;
    }
    .principal__paragraph{
        font-size: 18px;
    }  
}

@media (min-width: 376px) and (max-width: 425px){
    .principal__text-header {
        font-size: 15px;
        margin: 16px 25px 0;
    }
    .principal__up-container{
        flex-direction: column;
    }
    .principal__texts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .principal__compu-img-mobile {
        width: 380px !important;
    }
    .principal__texts {
        font-size: 1rem;
        margin-bottom: 3rem;
    }
    .principal__main-title {
        font-size: 40px;
    }
    .principal__paragraph{
        font-size: 18px;
    }  
    .principal__main-fondo {
        height: 100% !important;
    }
}

@media (min-width: 321px) and (max-width: 375px){
    .principal__text-header {
        font-size: 15px;
        margin: 16px 25px 0;
    }
    .principal__up-container{
        flex-direction: column;
    }
    .principal__texts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .principal__compu-img-mobile {
        width: 340px !important;
    }
    .principal__texts {
        font-size: 1rem;
        margin-bottom: 3rem;
    }
    .principal__main-title {
        font-size: 35px;
    }
    .principal__paragraph{
        font-size: 18px;
    }  
    .principal__main-fondo {
        height: 100% !important;
    }
}

@media (max-width: 320px){
    .principal__text-header {
        font-size: 15px;
        margin: 16px 25px 0;
    }
    .principal__texts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .principal__compu-img-mobile {
        width: 300px !important;
    }
    .principal__texts {
        font-size: 1rem;
        margin-bottom: 3rem;
    }
    .principal__main-title {
        font-size: 32px;
    }
    .principal__paragraph{
        font-size: 17px;
    }  
    .principal__main-fondo {
        height: 100% !important;
    }
    .principal__up-container{
        flex-direction: column;
    }
}


@media (min-width: 300px) and (max-width: 970px){
    .principal__compu-img{
        width: 500px;
    } 
}

@media (min-width: 300px) and (max-width: 780px){
    .principal__down-container{
        flex-direction: column;
    }
    .principal__texts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .principal__compu-img-mobile{
        display: block;
        width: 500px;
    }
    .principal__compu-img{
        display: none;
    }
    .principal__text-header{
        text-align: center;
        margin-top: 1rem;
    }
    .principal__up-container{
        flex-direction: column;
    }
}
@media (min-width: 300px) and (max-width: 420px){
    .principal__compu-img-mobile{
        width: 300px;
    }
    .principal__main-title{
        text-align: center;
    }
    .principal__paragraph{
        text-align: center;
    }
    .principal__up-container{
        flex-direction: column;
    }
}